<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/mergerTreeStyle.css">
  <link rel="stylesheet" type="text/css" href="css/inputStyle.css">
  <link rel="shortcut icon" href="/favicon.ico">
  <meta charset=utf-8 />
  <title>MyMergerTree</title>
</head>
<body>
  <div id="windowDiv" style="display:inline-block;">
    <div id="header" style="display:block;"> Galactic Merger Trees </div>
    <div id="main" style="display:block;">
      <table style="border-spacing: 0.5px;">
        <tr>
          <td>
            <!-- Username box -->
            <div id="mergerTreeUserOptions">
              <label>Username </label>
              <input id="mergerTreeUsername" value="user" onchange="userInputChange()"></input>
              <label>Nodes Relation </label>
              <input id="mergerTreeNodesTable" value="public:vulcan:haloTableCompleteFinal" style="width:250px;" onchange="userInputChange()"></input>
              <label>Edges Relation </label>
              <input id="mergerTreeEdgesTable" value="public:vulcan:edgesTreeFinal" style="width:250px;" onchange="userInputChange()"></input>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <!-- Button for selecting mass range-->
            <div id="mergerTreeMassRangeOptions" style = "display:inline;">
              <label>Mass Range </label>
              <select id="massSelection" onchange="massRangeOptionsChanged()" style = "width: 240px;"></select>
            </div>
            <div id="generateGroupsSection" style="display:inline;">
              <button class="button" id="generateGroupsButton" onclick='validateUserInput(getGroupIds)'>Generate Groups</button>
            </div>
            <div id="customMassRangeOptions" style="display: block; visibility: hidden;">
              <label>Custom Range </label>
              <input id="customMassMin" placeholder=""></input>
              <label>to &nbsp</label>
              <input id="customMassMax" placeholder=""></input>
            </div>
          </td>
        </tr>
        <!-- <tr>
          <td>
            <div id="mergerTreeMergerOptions">
              <label>Find trees with a major merger between </label>
              <select id="mergerTime1" onchange="groupOptionsChanged()" style = "width: 70px;"></select>
              <label>billion years and </label>
              <select id="mergerTime2" onchange="groupOptionsChanged()" style = "width: 70px;"></select>
              <label>billion years with a mass ratio less than </label>
              <input id='mergerMassRatio' style='width: 30px;' onchange="groupOptionsChanged()" placeholder="1000"></input>
            </div>
          </td>
        </tr> -->
        <tr>
          <td>
            <!-- Group dropdown -->
            <div id="groupDropdown" style="margin-bottom: 10px;">
              <label>Group </label>
              <select id="mergerTreeGroups" style = "width: 100px;" onfocus="this.selectedIndex = -1;">
              </select>
              <button class="button" id="loadGroupTree" onclick="getSelectedMergerTree();">Load Group</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <center><img id="loadingImg" src="images/loading.gif" style="z-index:100; display:none" /></center>
    </div>
    <div id="mergerTreeViz" style="display: none;">
      <table style="border-spacing: 0.5px;">
        <tr>
          <td>
            <div id="mergerMassRatio" class ="topContainer" style = "display:inline;">
              <form style="display:inline" onkeypress="return event.keyCode != 13;">Highlight Mass Ratio &#8804;: <input id="textboxMassRatio" type="text"/></form>
              <button class="button" id="buttonMassRatio" onclick='updateMassRatio()'>Update</button> </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <table id="toptable" style="margin:3px 0px;">
              <tr>
                <td >
                  <div id="topContainer" class = "topContainer" style="display:inline;float:left;">
                    <button class="button" id="resetButton" onclick='resetTree()'>Reset View</button>
                    <button class="button" id="downloadButton" onclick='download()'>Download</button>
                    <form style="display:inline"><input class="checked" id="checkedRemoveGraphs" type="checkbox" onclick="toggleGraphs()"> Remove Graphs </form>
                    <form style="display:inline"><input class="checked" id="checkedRemoveTooltips" type="checkbox" onclick="toggleTooltips()"> Remove Tooltips </form>
                    <!-- <form style="display:inline"><input class="checked" id="checkedLuminosity" type="checkbox" onclick="toggleLuminosity()"> Luminosity View </form> -->
                  </div>
                </td>
                <td >
                  <div id="nodeLegend" style="display:inline; float:right; margin-bottom:-7px;">
                    <img src="./../images/Legend.jpg"  style="float:right;" alt="Node Legend" width="45%" height="20%">
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <div id="svgContent" style="display:inline-block;">
          </td>
        </tr>
        <tr>
          <td>
            <div id="panelContent" style="display:inline-block">
              <table id="graphLabelTable">
                <tr style="padding: 0px;">
                  <td width="33%">
                    <div id="legend" style="text-align:left; padding: 0px;"></div>
                  </td>
                  <td width="33%">
                    <div style="text-align:center; margin: -3px auto auto;" id="textInfo1">Drag your mouse over the graphs below to highlight specific halos</div>
                    <div style="text-align:center; margin: -3px auto auto;" id="textInfo2">or hold the shift key and click a halo to highlight a path</div>
                  </td>
                  <td width="33%">
                    <div id="haloTextSelected" style="text-align:right; margin: -5px auto auto;"><b>0 Halos Selected</b></div>
                  </td>
                </tr>
              </table>
              <table id="table">
                <tr>
                  <td>
                    <table id="massInformation">
                      <tr>
                        <td width="70%"> <div id="massPanel"> </div> </td>
                        <td width="30%">
                          <div id="massTextBoxes" style = "width:125px; text-align:right;">
                            <form onkeypress="return event.keyCode != 13;" >min: <input id="textboxMinMass" type="text" value="0"/> </form>
                            <form onkeypress="return event.keyCode != 13;" >max: <input id="textboxMaxMass" type="text" value="0"/> </form>
                            <div id="buttonMass"><button class="button">Update Interval</button> </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td>
                    <table id="particleInformation">
                      <tr>
                        <td width="70%"><div id="particlePanel"> </div></td>
                        <td width="30%">
                          <div id="particleTextBoxes" style="width:125px; text-align:right;">
                            <form onkeypress="return event.keyCode != 13;">min: <input id="textboxMinParticle" type="text" value="0"/> </form>
                            <form onkeypress="return event.keyCode != 13;">max: <input id="textboxMaxParticle" type="text" value="0" /> </form>
                            <div id="buttonParticle"><button class="button">Update Interval</button></div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script src="http://d3js.org/d3.v3.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  <script src="javascript/interaction_collapse.js"></script>
  <script src="javascript/underscore-min.js"></script>
  <script src="javascript/underscore.string.min.js"></script>
  <script src="javascript/tree_thumbnails.js"></script>
  <script src="javascript/interaction_collapse.js"></script>
  <script src="javascript/jquery.timeago.js"></script>
  <script src="javascript/bootstrap.js"></script>
  <script src="javascript/bootstrap.min.js"></script>
  <script src="javascript/alert.js"></script>
  <script src="javascript/merger_tree_interface.js"></script>
  <script>
    //start app
    setUp();
  </script>
</body>
</html>
